body{
  
}
.lobsterfont {
  font-family: Lobster; font-size: 70px; font-style: bold; font-variant: normal; font-weight: 700; line-height: 26.4px;text-align: center; color: #f4c095; text-decoration: underline;
 }
.afont {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif; font-size: 20px; font-style: normal; font-variant: normal; font-weight: 600; line-height: 20px;text-align: center;  position:fixed; bottom: 350px;right: 0px; opacity: 1;color: #ee2e31;margin-top: 1px; margin-bottom: 0px; margin-right: 100px; margin-left: 80px;
}





.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #071e22;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4c095;
    display: block;
    transition: 0.5s;
    border-bottom: 2px solid #679289;
    position: sticky;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}




.container {
    position: relative;
    text-align: center;
    color: white;
}

.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}

.top-left {
    position: absolute;
    top: 8px;
    left: 16px;
}

.top-right {
    position: absolute;
    top: 8px;
    right: 16px;
}

.bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
