body {
  background: linear-gradient(to top, #679289 0%, #335773 100%);
}
    font-family: "Lato", sans-serif;
}

body {
    font-family: "Lato", sans-serif;
}

p {
  font-size: 25px;
}

h1 {
  font-size: 100px;
  text-shadow: 0 0 8px #FF0000;
  text-align: center;
}

h3 {
  color: #f4c095;
  text-shadow: 0 0 6px #FF0000;
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #071e22;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #f4c095;
    display: block;
    transition: 0.5s;
    border-bottom: 2px solid #679289;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
